<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MercadoLiebre</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<header>
    <div class="header-main">
        <div class="header">
        <img width= 180 heigth=20 class="logo" src="../img/logo-mercado-liebre.svg"><a href="/views/home"></a></img>
        <form action="/search" method="GET" class="search-form">
        <input type="text" placeholder="Buscar productos" class="input">
        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
    </div> 
    <div>
      <h2 class="cuotas">      
      <i class="fas fa-money-bill-wave"></i>
      <p>Comprá en cuotas y sin tarjeta</p>
    </div>
    </div>    
    <nav class="barra-main">
        <ul class="barra-principal">
            <li><a href="#ofertas">Ofertas</a></li>
            <li><a href="#tiendas">Tiendas oficiales</a></li>
            <li><a href="#vender">Vender</a></li>
            <li><a href="#ayuda">Ayuda</a></li>
        </ul>
        <ul class="barra-secundaria">
            <li><a href="/views/register">Creá tu cuenta</a><i class="fas fa-id-card"></i></li>
            <li><a href="/views/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#misCompras">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
    <a class="icono-burger"><i class="fas fa-bars fa-3x"></i></a>
</header>

<body>
    <form action="#" method="POST" class="formulario">
        <h2>Inicia sesión</h2>
        <div class="login">
                <div class="datos-login">
                    <input type="text" id="nombre-apellido" placeholder="Nombre">
                    <input type="text" id="nombre-usuario" placeholder="Contraseña">
                    <button class="btn-enviar">Ingresar</button>
                </div>    
        </div>
    </form>
</body>

<footer class="footer">
    <div class="footer2">
      <div class="seccionF">
          <div class="iconoFooter"><i class="far fa-credit-card fa-2x"></i></div>
          <p class="tituloFooter">Pagá con tarjeta o efectivo</p>
          <p class="txtfooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
      </div>
      <div class="seccionF">
          <div class="iconoFooter"><i class="fas fa-gift fa-2x"></i></div>
          <p class="tituloFooter">Envío gratis desde $ 2.500</p>
          <p class="txtfooter">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
          </p>
      </div>
      <div class= "seccionF">
          <div class="iconoFooter"><i class="fas fa-user-shield fa-2x"></i></div>
          <p class="tituloFooter">Seguridad, de principio a fin</p>
          <p class="txtfooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.
          </p>
      </div>
     </div>
   <section class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  </section>   
  </footer>   
</html>